<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- custom coloring conversion -->
    <conversionRule conversionWord="highlightex" converterClass="com.example.assignment.config.HighlightingCompositeConverterEx" />

    <!-- create property for logs folder -->
    <property name="LOG_HOME" value="logs" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlightex(%-5level) %cyan(%logger{10}).%blue(%M) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender for application -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- create folder if it isn't exist -->
        <!--        <prudent>true</prudent>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Format file name by dd-MM-yyyy -->
            <fileNamePattern>${LOG_HOME}/application/%d{dd-MM-yyyy}.log</fileNamePattern>
            <!-- Keep 30 days of history -->
            <maxHistory>30</maxHistory>
            <!-- clean old history (maxed 30 days) on start -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender for error only -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- create folder if it isn't exist -->
        <!--        <prudent>true</prudent>-->
        <!-- Rollover daily -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/errors/%d{dd-MM-yyyy}.log</fileNamePattern>
            <!-- Keep 30 days of history -->
            <maxHistory>30</maxHistory>
            <!-- clean old history (maxed 30 days) on start -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
        <!-- Only append the error log above -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- root logger configuration -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="ERROR_FILE" />
    </root>
</configuration>
